form {
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px #FDBBED;

    .form-item {
        text-align: center;
        margin: 15px;
        display: inline-block;

        label {
            display: block;
            font-size: .8rem;
            color: #770087;
        }

        select,
        option,
        input {
            background-color: #FED6F4;
            color: #770087;
            border-radius: 5px;
            padding: 5px;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: .7rem;
            border: none;
        }

        input[type='submit'] {
            color: #FFF;
            background-color: #D700BF;
            font-family: 'Gochi Hand', cursive;
            font-size: 1.1rem;
            text-transform: uppercase;
            padding: 5px 10px;
        }
    }
}