form {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;

    .form-item {
        text-align: center;
        margin: 15px;
        display: inline-block;

        label {
            display: block;
            font-size: .8rem;
            color: #D700BF;
        }
    }
}