@import url("https://fonts.googleapis.com/css?family=Gochi+Hand|Noto+Sans+KR");
body {
  font-family: 'Noto Sans KR', sans-serif; }

.main-header {
  text-align: center; }
  .main-header h1 {
    font-family: 'Gochi Hand', cursive; }

form {
  margin: 30px auto 20px;
  text-align: center;
  border: 1px solid #ccc; }
  form .form-item {
    text-align: center;
    margin: 15px;
    display: inline-block; }
    form .form-item label {
      display: block; }

#animalAgeResult {
  text-align: center; }
  #animalAgeResult img {
    width: 300px;
    height: auto; }
