@import url("https://fonts.googleapis.com/css?family=Gochi+Hand|Noto+Sans+KR");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  font-family: 'Noto Sans KR', sans-serif; }

body {
  background-color: #FFF2FC; }

.main-header {
  text-align: center;
  background-color: #D700BF;
  padding: 20px 10px; }
  .main-header h1 {
    font-family: 'Gochi Hand', cursive;
    color: #fff;
    text-shadow: 5px 5px 15px #770087;
    font-weight: normal;
    font-size: 2rem; }

form {
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px #FDBBED; }
  form .form-item {
    text-align: center;
    margin: 15px;
    display: inline-block; }
    form .form-item label {
      display: block;
      font-size: .8rem;
      color: #770087; }
    form .form-item select,
    form .form-item option,
    form .form-item input {
      background-color: #FED6F4;
      color: #770087;
      border-radius: 5px;
      padding: 5px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: .7rem;
      border: none; }
    form .form-item input[type='submit'] {
      color: #FFF;
      background-color: #D700BF;
      font-family: 'Gochi Hand', cursive;
      font-size: 1.1rem;
      text-transform: uppercase;
      padding: 5px 10px; }

#animalAgeResult {
  padding: 25px 10px;
  text-align: center; }
  #animalAgeResult img {
    width: 300px;
    height: auto; }
